.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

.git

Dockerfile
docker-compose.yml

.gitattributes
.gitignore

.eslintignore
.eslintrc.cjs

.npmrc
.prettierignore
.prettierrc

README.md
